@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --navy: #1a1a40;
  --blue: #7a0bc0;
  --pink: #fa58b6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--navy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo__wrapper {
  background: var(--navy);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo__form {
  width: 100%;
}

.todo__input {
  outline: none;
  background: none;
  border: 1px solid var(--pink);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 320px;
  color: #fff;
}

.todo__input:focus {
  /* border: 1px solid var(--blue); */
  border: 1px solid violet;
}

.todo__input::placeholder {
  color: #ffffff90;
}

.todo__btn {
  background: var(--pink);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo__btn:hover {
  background: violet;
}

.todo__btn:focus {
  outline: none;
  background: violet;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--blue);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa__edit {
  margin-left: 0.75rem;
  color: #fff;
  background-color: var(--navy);
  border: none;
}

.fa__trash {
  margin-left: 0.75rem;
  color: red;
  background-color: var(--navy);
  border: none;
}

.fa__edit,
.fa__trash {
  font-size: 1.5rem;
}

.fa__edit:focus {
  border: 2px solid #fff;
  outline: none;
}

.fa__edit:hover {
  color: #cbcaca;
}

.fa__trash:focus {
  border: 2px solid red;
  outline: none;
}

.fa__trash:hover {
  color: rgb(171, 10, 10);
}

.error__message {
  color: red;
  font-size: small;
}

.fa__plus {
  font-size: 1.1rem;
}

.footer {
  margin-top: 15rem;
}

.footer-text,
.github {
  color: #ffffff90;
}

.socials {
  margin-left: 0.75rem;
}

/* custom .check__box */

.custom__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check__mark {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 4px;
}

.custom__checkbox:hover input ~ .check__mark {
  background-color: #ccc;
  border: 2px solid var(--blue);
}

.custom__checkbox input:checked ~ .check__mark {
  background-color: var(--blue);
}

.custom__checkbox input:focus ~ .check__mark {
  border: 2px solid var(--blue) ;
  outline: none;
}

.check__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom__checkbox input:checked ~ .check__mark:after {
  display: block;
}

.custom__checkbox .check__mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.task {
  margin-left: 2rem;
}

@media (max-width: 450px) {
  .todo__input {
    width: 260px;
  }
}
